.chakra-datepicker-input {
  width: 100%; /* Adjust the width as needed */
  padding: 0.5rem;
  border: 1px solid #cbd5e0; /* Chakra UI's default border color */
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #1a202c; /* Chakra UI's default text color */
  outline: none;
  background: transparent;
}

.react-datepicker-wrapper {
  width: 100%;
}
.chakra-datepicker-full {
  width: 100%;
}

.chakra-datepicker-input::placeholder {
  color: #a0aec0; /* Chakra UI's default placeholder color */
}

.async-select-props {
  border-color: #bcbcbd;
}

.chakra-datepicker-error {
  border: 2px solid #e53e3e;
}
